@page "/"
@inject NavigationManager _navigationManager

<div class="container p-5">
    <div class="row">
        <div class="col text-center p-3">
            <NavLink class="nav-link" href="order">
                <button class="btn btn btn-block p-3 m-3 btn-danger">Order</button>
            </NavLink>
            <NavLink class="nav-link" href="bulkadd">
                <button class="btn btn btn-block p-3 m-3 btn-primary">Bulk Add</button>
            </NavLink>
            <NavLink class="nav-link" href="inshop">
                <button class="btn btn btn-block p-3 m-3 btn-success">Shop</button>
            </NavLink>
        </div>
        
    </div>
</div>

