@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
      
    </div>

    <div class="content p-2">
        @Body
    </div>
</div>
